header{
  background: top center no-repeat;
  margin: 20px;
  background-image: url("https://wallpaperbits.com/wp-content/uploads/2018/01/space-nasa-wallpaper-229310.jpg");
  height: 150px;
  padding: 40px;
  text-align: center;
  color: white;
  font-family: 'Great Vibes', cursive;
}


li{
  display: inline-flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 0;
  list-style: none;
  font-size: 25px;
  color: white;
}
a:link {
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    font-family: 'Calligraffitti', cursive;
}
h1{
  font-size: 200px;
}
h3{
  text-align: center;
}
nav{
  font-size: 25px;
  display: flex;
  align-content: center;
  padding-top: 10px;
}
body{
  margin-left: -200;
}

.fa {
  color: white;
}

.intro {
  text-align: center;
  font-family: 'Great Vibes', cursive;
}
#projects{
  margin:  30px;
  padding: 40px;
  border: 1px solid black;
}
#project1{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
}
#project1-text{
  border: 1px solid black;
}

#project2{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
}
#project2-text{
  border: 1px solid black;
}
#project3{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
}
#project3-text{
  border: 1px solid black;
}
#project4{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
}
#project4-text{
  border: 1px solid black;
}
#projectf{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
}
#projectf-text{
  border: 1px solid black;
}

#skills{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.dev-icons{
  margin: 5px;
  font-size: 150px;
  text-align: center;
}
.jest{
  height: 150px;
  width: 150px;
  margin: 5px;
}

footer{
  background: top center no-repeat;
  margin: 20px;
  background-image: url("https://wallpaperbits.com/wp-content/uploads/2018/01/space-nasa-wallpaper-229310.jpg");
  height: 50px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Great Vibes', cursive;

}
/*
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Playball', cursive; *
font-family: 'Rochester', cursive; *
font-family: 'Calligraffitti', cursive; *
*/





