header{
  /*background: top center no-repeat;*/
  margin: 20px;
  z-index: 2;
  /*background-color: rgba(255, 255, 255, 0.25);*/
  /*background-image: url("https://wallpaperbits.com/wp-content/uploads/2018/01/space-nasa-wallpaper-229310.jpg");*/
  height: 150px auto;
/*  padding: 40px;*/
  /*text-align: center;*/
  color: white;
  font-family: 'Great Vibes', cursive;
}
body{
  background-image: url("https://apod.nasa.gov/apod/image/1212/M33-Subaru-Gendler-LL.jpg");
  z-index: -1;
}
#home-links{
  display: inline-flex;
  justify-content: flex-start;
}
#name{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}
#contact-me{
  font-size: 25px;
  display: inline-flex;
  justify-content: flex-end;
  display: flex;
  /*margin-right: -150px;*/
}

li{
  display: inline-flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 0;
  list-style: none;
  font-size: 25px;
  color: white;
}
a:link {
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    font-family: 'Calligraffitti', cursive;
}

h3{
  text-align: center;
  text-shadow: 2px 2px #000000;
}
/*nav{
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  /*align-content: center;*/
 /* padding-top: 10px;*/
/*}*/
body{
  margin-left: -200;

}

.fa {
  color: white;
}

.intro {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  color: white;
}
#projects{
  margin:  30px;
  padding: 40px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}
#project1{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
  background-color: white;

}
#project1-text{
  border: 1px solid black;
  color: black;
}

#project2{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
  background-color: white;
}
#project2-text{
  border: 1px solid black;
  color: black
}
#project2-image{
  max-width: 100%;
    max-height: 100%;
}
#project3{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
  background-color: white;
}
#project3-text{
  border: 1px solid black;
  color: black;
}
#project4{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
  background-color: white;
}
#project4-text{
  border: 1px solid black;
  color: black;
}
#projectf{
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  height: auto;
  background-color: white;
}
#projectf-text{
  border: 1px solid black;
  color: black;

}
#project-text{
  color: black;
  display: flex;
  justify-content: space-around;
  color: black;
}

#skills{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}

.dev-icons{
  margin: 5px;
  font-size: 150px;
  text-align: center;
}
.jest{
  height: 150px;
  width: 150px;
  margin: 5px;
}

footer{
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid black;
  height: auto;
  text-align: center;
  color: white;
  font-family: 'Sacramento', cursive;
}
#footer-links{
  display: inline-flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  font-size: 5px;
  color: white;
  text-shadow: 2px 2px #000000;
}


/*
font-family: 'Dancing Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Playball', cursive; *
font-family: 'Rochester', cursive; *
font-family: 'Calligraffitti', cursive; *
*/




